<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">


  <ion-tab title="Add Expense" icon="icon ion-social-usd" href="#/tab/expenseadd">
    <ion-nav-view name="tab-expenseadd"></ion-nav-view>
  </ion-tab>
  
  
  <ion-tab title="Category" icon="icon ion-pricetags" href="#/tab/expenses">
    <ion-nav-view name="tab-expenses"></ion-nav-view>
  </ion-tab>
  
  <!-- Dashboard Tab -->
  <ion-tab title="Add Group" icon="icon ion-home" href="#/tab/groupadd">
    <ion-nav-view name="tab-groupadd"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  


  <!-- Account Tab -->
  


</ion-tabs>
